@import url("../vendor/css/bootstrap.css");
body{font-size:12px;}
ul#statistics{list-style: none; margin:0px;}
.pagination{margin:0px;}
.table thead th{background:#3A87AD; color:white; }
.table a.title{font-weight:bold; color:#3A87AD; text-decoration: none; font-size:14px;}
.breadcrumb{margin:5px;}
h2{padding:5px; font-size:28px; line-height:15px;}
a.company-name{color:black;}
input[type="text"], textarea, label{font-size:12px;}
.table thead th{background:#999;}
.avatar_thumb {
    border-radius: 2px 2px 2px 2px;
}
.online{color:green;}
.offline{color:red;}
.conversations .alert{padding:3px 5px; margin:5px;}
.conversations .table a.title{color:black; font-weight:normal; font-size:12px;}

textarea.active{border:1px dashed;}
blockquote{border:1px solid #333; color:#999; padding:5px 20px; font-style:italic; border-radius: 4px 4px 4px 4px;}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}